@model Guarderia.Models.Pagadores

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="form-personas" style="margin-top:2%;">
        <div style="background-color:white;text-align:center;" class="jumbotron">
            <h1 style="color:#f8b739;">Personas</h1>

        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Cedula)
                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Direccion)
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-6">
                    @Html.LabelFor(model => model.Telefono)
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mb-6">
                    <label for="inputRecogidoPor">Relacion con el niño: </label>
                    <select class="custom-select" id="inputRelacion" required>
                        <option selected disabled value="">Elegir...</option>
                        <option>Padres</option>
                        <option>Tutor</option>
                    </select>
                    <div class="invalid-tooltip">
                        Porfavor seleccione un recogedor valido.
                    </div>
                </div>
            </div>


            <div id="monto" class="form-row">
                <div class="form-group col-md-6 mb-6">
                    @Html.LabelFor(model => model.CuentaCorriente)
                    @Html.EditorFor(model => model.CuentaCorriente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CuentaCorriente, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mb-6">
                    <label for="inputRecogidoPor">Monto a Cargar </label>
                    <input type="text" class="form-control" id="inputMonto" placeholder="EJ: RD$1500.00">
                </div>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Insertar</button>
        </form>
    </div>

    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
